{% extends "base.html" %}

{% block content %}



            <div style="max-width:70ch;width:75%;margin:auto;color:#c5c5d8;font-size:1.1em;margin-bottom:20px;">
                <p>La segmentación de clientes es el proceso mediante el cual se agrupan los clientes en base a su comportamiento, características y necesidades. Esto ayuda a las empresas de muchas maneras en el lanzamiento de un producto, destacando las propiedades del mismo, adaptándolas a cada grupo de consumidores. Además pueden apuntar a una audiencia específica a partir de su comportamiento. Todo lo anterior influye de forma directa en el valor de mercado de la empresa.</p>

                <p>Algunas de las formas más comunes de segmentar a los usuarios son:</p>
                <ul>
                    <li>Demográfica: Ejemplos -> edad, género, ingresos y educación.</li>
                    <li>Geográfica: Ejemplos -> país, estado y ciudad.</li>
                    <li>Comportamiento: Ejemplos -> hábitos, acciones frecuentes y uso de productos.</li>
                </ul>

                <p>Para un gerente de marketing directo resulta sumamente útil utilizar un sistema de inteligencia empresarial para informar sobre sus clientes. Al definir con precisión a sus mejores clientes basándose en parámetros como la Recency, Frecuency y Monetary Value (RFM), puede maximizar el retorno de la inversión en sus acciones de marketing. Un cliente que ordena con frecuencia, lo ha hecho recientemente y ha gastado una suma significativa de dinero es más probable que lo haga en el futuro que otros clientes.</p>

                <h2>API Endpoint</h2>
                <a href="https://customersegmentation.pythonanywhere.com/api/cluster" style="width:75%;color:#c5c5d8;">https://customersegmentation<wbr>.pythonanywhere.com/api/cluster</a>
                <ul>
                    <li>Método: POST</li>
                    <li>Descripción: Devuelve un conjunto de métricas del clúster al que pertenece el cliente</li>
                    <li>URL-Params: int: recency  int: frequency float: monetary_value</li>
                    <li><b>Todos los valores a introducir tienen que ser mayores que 0.</b></li>
                </ul>

                <h3>Estructura de la URL</h3>
                <code style="max-width:90ch;width:75%;margin:auto;">https://customersegmentation<wbr>.pythonanywhere.com/api/cluster?<wbr>recency={recency}<wbr>&frequency={frequency}<wbr>&monetary_value={monetary_value}</code>

                <h3>Ejemplo</h3>
                <code>https://customersegmentation<wbr>.pythonanywhere.com/api/cluster?<wbr>recency=64<wbr>&frequency=32<wbr>&monetary_value=100924</code>
                <h3 style="margin-bottom:0;">Ejemplo de respuesta</h3>
    <pre>
              <code style="display: block;
  white-space: pre-wrap;">
                {'clusterId': 1,
                'clusterLabel': 'En riesgo',
                'error': '',
                'inputValues': {'frequency': 32,
                                'monetaryValue': 100924.0,
                                'recency': 64},
                'message': 'Data processed successfully',
                'suggestions': 'Son clientes que compraban seguido gastando grandes cantidades, pero no han realizado compras recientemente. Se recomienda enviarles una campaña personalizada para reconectar y ofrecerles productos que puedan contribuir a que realicen otra compra.'}
              </code>
</pre>
            </div>






        <!--{% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][1] }} fieldsform success">
                    {{ messages[0] }}
                </div>

            {% endif %}
        {% endwith %}-->


            {% if form.recency.errors or form.frequency.errors or form.monetary_value.errors %}

                <ul class="errorgroup">
                    <p style="margin-top:0;"><b>Revisa los datos insertados</b></p>
                    {% for error in form.recency.errors %}
                        <li class="errormsg">{{ error }}</li>

                    {% endfor %}

                    {% for error in form.frequency.errors %}
                        <li class="errormsg">{{ error }}</li>

                    {% endfor %}



                    {% for error in form.monetary_value.errors %}
                        <li class="errormsg">{{ error }}</li>

                    {% endfor %}
                </ul>

            {% endif %}



        <form method="POST" class="formclss" style="margin:auto;">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}

            <div class="fieldsform fields">
                {{ form.recency.label(style="width: 75%;") }}
                {{ form.recency(class='form-control',placeholder="Recency",style="width: 75%;") }}

            </div>
            <div class="fieldsform fields">
                {{ form.frequency.label(style="width: 75%;") }}
                {{ form.frequency(class='form-control',placeholder="Frecency",style="width: 75%;") }}

            </div>
            <div class="fieldsform fields">
                {{ form.monetary_value.label(style="width: 75%;") }}

                {{ form.monetary_value(class='form-control',placeholder="Monetary Value",style="width: 75%;") }}

            </div>

            {{ form.submit(class="btn btn-primary fields",value="Analizar",style="width:75%; height:35px;margin-top:0.5rem;margin-bottom:0.5rem;background-color:#000;color:#e1e1e2;border: 2px solid; cursor: pointer; border-radius:8px;font-weight:bold;") }}

        </form>

{% endblock %}